.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease, color 0.3s ease;

    &.dark-mode {
        background-color: #1f2937;
        color: #ffffff;
        border-bottom: 1px solid #353b44;
    }

    .logo {
        @include flex-row(flex-start, center);
        gap: 10px;
        font-size: 1.5rem;
        font-weight: bold;
        .logo-icon {
            color : var(--primary-6);
            font-weight: 800;
        }
    }

    .mode-toggle {
        @include flex-row(flex-start, flex-start);
        gap: 30px;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: inherit;
    }
}