.user-details__wrapper {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1f2937;
  color: var(--neutrals-9, #f1f0f0);
  @include flex-col(flex-start, flex-start);

  .user-detail-name {
    width: 100%;
    padding: 15px;
    color: var(--neutrals-9);
  }

  .date-picker {
    border: 2px solid #1f2937;
    padding: 10px;
    border-radius: 10px;
  }

  .user-details__container {
    @include flex-row(flex-start, center);
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
  }

  .user-details__wrapper-chart-section {
    @include flex-row(flex-start, flex-start);
    width: 100%;
    gap: 10px;

    .user-details-chart__container {
      @include flex-col(flex-start, flex-start);
      padding: 25px;
      background-color: rgba(31, 41, 55, 0.5);
      backdrop-filter: blur(8px);
      overflow: hidden;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -4px rgba(0, 0, 0, 0.1);
      border-radius: 0.75rem;
      border: 1px solid rgba(55, 65, 81, 0.5);
      flex: 1 1 calc(50% - 20px); // Adjusted for pie chart and bar chart
      margin: 10px;

      .date-picker__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .date-picker-title {
        color: var(--neutrals-9);
        padding: 10px;
      }
    }

    .user-details-chart__container-pie {
      @include flex-col(flex-start, flex-start);
      background-color: rgba(31, 41, 55, 0.5);
      backdrop-filter: blur(8px);
      overflow: hidden;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -4px rgba(0, 0, 0, 0.1);
      border-radius: 0.75rem;
      border: 1px solid rgba(55, 65, 81, 0.5);
      flex: 1 1 calc(50% - 20px); // Adjusted for pie chart and bar chart
      margin: 10px;
    }
  }

  .user-details-area-chart {
    width: 99%;
    @include flex-col(flex-start, flex-start);
    gap: 10px;
    background-color: rgba(31, 41, 55, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 4px 6px -4px rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    border: 1px solid rgba(55, 65, 81, 0.5);
    margin: 10px;
    .user-details-area-title{
      color: var(--neutrals-9);
      padding: 30px 20px 10px 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  .user-details__wrapper {
    padding: 10px;

    .user-details__wrapper-chart-section {
      @include flex-col(flex-start, flex-start);
      width: 100%;
      gap: 10px;

      .user-details-chart__container {
        width: 100%;
        margin: 0;

        .recharts-wrapper {
          width: 100%;
          max-height: 328px;
        }
      }

      .user-details-chart__container-pie {
        width: 100%;
        margin: 0;
      }
    }

         .user-details-area-chart {
           margin: 0;
         }
  }

  .user-details__container {
    flex-direction: column;
    align-items: stretch;
  }
}
