.userdata-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  padding: 15px;
  gap: 10px;
  background-color: rgba(31, 41, 55, 0.5); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  border: 1px solid rgba(55, 65, 81, 0.5);
  text-align: center;
  margin: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &.light-mode {
    background-color: white;
    border: 1px solid rgba(200, 200, 200, 0.5);
  }

  .user-data__wrapper__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 15px;

    .user-data__wrapper__title {
      color: var(--neutrals-7);
      transition: color 0.3s ease;

      &.light-mode {
        color: rgba(56, 64, 71, 1);
      }
    }

    .user-data__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 10px;
      border-radius: 18px;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -4px rgba(0, 0, 0, 0.1);
      padding: 12px;
      flex-wrap: wrap;
      transition: background-color 0.3s ease;

      &.light-mode {
        background-color: rgba(248, 250, 252, 1);
      }
    }

    .user-data__info-wrapper {
      display: flex;
      align-items: flex-start;
      flex-grow: 1;
    }

    .user-data__details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;

      .user_name {
        color: var(--neutrals-7);
        transition: color 0.3s ease;

        &.light-mode {
          color: rgba(56, 64, 71, 1);
        }
      }

      .user_email {
        color: var(--neutrals-4);
        transition: color 0.3s ease;

        &.light-mode {
          color: rgba(156, 163, 175, 1);
        }
      }
    }

    .user-data__action {
      flex-shrink: 0;

      .user-data__action-btn {
        width: auto;
        background-color: var(--primary-4);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        padding: 12px;
        border: 1px solid #202533;
        border-radius: 12px;
        color: var(--neutrals-7);
        transition: background-color 0.3s ease, color 0.3s ease;

        &.light-mode {
          background-color: var(--primary-6);
          border: 1px solid rgba(200, 200, 200, 0.5);
          color: white;
        }
      }
    }

    .user-data__avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin-right: 10px;
      color: var(--neutrals-7);
      background-color: var(--primary-4);
      transition: background-color 0.3s ease;

      &.light-mode {
        background-color: var(--primary-6);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .userdata-wrapper {
    padding: 15px;

    .user-data__wrapper__info {
      width: 100%;

      .user-data__info {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
      }
    }
  }
}