.insight-card-wrapper {
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
    backdrop-filter: blur(8px);
    overflow: hidden;
    border-radius: 0.75rem;
    flex: 1 1 calc(25% - 20px);
    margin: 10px;

  &.dark-mode {
    background-color: rgba(31, 41, 55, 0.5); 
    color: var(--neutrals-7);
  }

  &.light-mode {
    background-color: white;
    color: rgba(56, 64, 71, 1); 
  }

  .insight-card__info {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 0; 

    .insight-card-title {
      color: inherit; 
      transition: color 0.3s ease;

      &.dark-mode {
        color: var(--neutrals-7); 
      }

      &.light-mode {
        color: rgba(56, 64, 71, 1); 
      }
    }

    .insight-card-info {
      color: inherit; 
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      gap: 10px;

      .insight-card-info-item {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 

        &.dark-mode {
          background-color: rgba(55, 65, 81, 0.5); 
        }

        &.light-mode {
          background-color: rgba(248, 250, 252, 1); 
        }

        .insight-card-icon {
          font-size: 1.5rem;
          transition: color 0.3s ease;

          &.dark-mode {
            color: var(--primary-color); 
          }

          &.light-mode {
            color: var(--primary-6); 
          }
        }

        p {
          margin: 0;
          font-size: 1rem;
          line-height: 1.5;
          color: inherit; 
          transition: color 0.3s ease;

          &.dark-mode {
            color: var(--neutrals-7); 
          }

          &.light-mode {
            color: rgba(56, 64, 71, 1); 
          }
        }
      }
    }
  }
}