.insight-card-wrapper {
    width: 100%;
  .insight-card__info {
    width: 100%;
    padding: 20px;
    @include flex-col(flex-start, flex-start);
    gap: 10px;

    .insight-card-title {
      color: var(--neutrals-7);
    }

    .insight-card-info {
      color: var(--neutrals-7);
      @include flex-col(flex-start, flex-start);
      width: 100%;
      gap: 10px;

      .insight-card-info-item {
        @include flex-row(center, center);
        gap: 10px;
        padding: 10px;
        transition: background-color 0.3s, box-shadow 0.3s;

        .insight-card-icon {
          font-size: 1.5rem;
          color: var(--primary-color);
        }

        p {
          margin: 0;
          font-size: 1rem;
          line-height: 1.5;
        }
      }
    }
  }
}
