@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import "./utils.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

html,
body {
	height: 100vh;
	width: 100vw;
}

/* Figma Styles of your File */
:root {
	/* Colors */
	--neutrals-0: #1b1b1b;
	--neutrals-1: #333333;
	--neutrals-2: #666666;
	--neutrals-3: #808080;
	--neutrals-4: #999999;
	--neutrals-5: #b3b3b3;
	--neutrals-6: #cccccc;
	--neutrals-7: #e6e6e6;
	--neutrals-8: #f2f2f2;
	--neutrals-85: #f5f5f5;
	--neutrals-9: #ffffff;
	--accent-red: #c22929;
	--accent-red-lite: #fbeeee;
	--accent-red-dark: #972020;
	--accent-green: #209757;
	--accent-green-lite: #a5d6bc;
	--accent-green-dark: #187241;
	--accent-green-lite: #eefbf4;
	--accent-yellow-dark: #b86d14;
	--accent-yellow: #d57e17;
	--accent-yellow-lite: #fdf5ed;
	--primary-0: #0b0f28;
	--primary-1: #10163c;
	--primary-2: #161e50;
	--primary-3: #202d79;
	--primary-4: #2b3ca1;
	--primary-5: #364bc9;
	--primary-6: #5e6fd4;
	--primary-7: #afb7e9;
	--primary-8: #dfe2f6;
	--primary-9: #eef0fa;

	/* Gradients */
	--gradient-button: linear-gradient(
		120deg,
		rgba(22, 51, 163, 1) 12.95%,
		rgba(166, 43, 16, 1) 100%
	);
	--gradient-button-hover: linear-gradient(
		119deg,
		rgba(22, 51, 163, 1) 12.95%,
		rgba(166, 43, 16, 1) 100%
	);
	--gradient-new: linear-gradient(
			121deg,
			rgba(22, 51, 163, 1) 12.95%,
			rgba(231, 65, 65, 1) 100%
		),
		linear-gradient(to left, #2b3ca1, #2b3ca1);
	--fm-1: "Patrick Hand", cursive;
	--fm-2: font-family: "Unbounded", sans-serif;
}

// input[type=number]::-webkit-inner-spin-button --> hide the spin button in input type number in webkit browsers
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Headings */
%base-heading {
	@include base-styles(700, normal, var(--neutrals-0));
}

.h-lg {
	@extend %base-heading;
	font-size: 36px;
	@include responsive-font-size(
		(36px, 32px, 32px, 28px, 28px, 24px)
	);
}
.h {
	@extend %base-heading;
	font-size: 28px;
	@include responsive-font-size(
		(28px, 24px, 24px, 24px, 24px, 20px)
	);
}
.h-md {
	@extend %base-heading;
	font-size: 24px;
	@include responsive-font-size(
		(24px, 20px, 20px, 20px, 20px, 16px)
	);
}
.h-sm {
	@extend %base-heading;
	font-size: 20px;
	@include responsive-font-size(
		(24px, 16px, 16px, 16px, 16px, 14px)
	);
}

/* Text Styles */
%base-text {
    @include base-styles(400, normal, var(--primary-color));
    line-height: 160%;
}

.t-lg {
    @extend %base-text;
    line-height: 160%;
    font-size: 20px;
    @include responsive-font-size((20px, 20px, 20px, 16px, 16px, 16px));
}
.t-md {
	@extend %base-text;
	line-height: 160%;
    font-size: 16px;
	@include responsive-font-size(
		(16px, 16px, 16px, 14px, 14px, 14px)
	);
}
.t-sm {
	@extend %base-text;
	line-height: 160%;
    font-size: 14px;
	@include responsive-font-size(
		(14px, 14px, 14px, 12px, 12px, 12px)
	);
}

%base-util {
	@include base-styles(300, normal, var(--primary-color));
}
.u-lg {
	@extend %base-util;
	font-size: 16px;
	@include responsive-font-size(
		(16px, 16px, 16px, 16px, 16px, 14px)
	);
}

.u-md {
	@extend %base-util;
	font-size: 14px;
	@include responsive-font-size(
		(14px, 14px, 14px, 14px, 14px, 12px)
	);
}
.u-sm {
	@extend %base-util;
	font-size: 12px;
	@include responsive-font-size(
		(12px, 12px, 12px, 12px, 12px, 10px)
	);
}

.btn-text {
	@extend %base-util;
    line-height: 160%;
	font-size: 14px;
    font-weight: 500;
	@include responsive-font-size(
		(14px, 14px, 14px, 14px, 14px, 12px)
	);
}
