.dashboard-wrapper {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1f2937;
  color: var(--neutrals-9, #f1f0f0);

  &.dark-mode {
    background-color: #1f2937;

    .dashboard-wrapper-title {
      .dashboard-wrapper__title {
        color: var(--neutrals-9);
      }
    }
  }

  &.light-mode {
    background-color: white;

    .dashboard-wrapper-title {
      .dashboard-wrapper__title {
        color: var(--neutrals-1); 
      }
    }
  }

  .dashboard-wrapper-title {
    padding: 30px 18px;
    width: 100%;

    .dashboard-wrapper__title {
      color: var(--neutrals-9); 
    }
  }

  .card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .chart-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .total-worklog-component {
      width: 73%;
      height: auto;
    }

    .user-data {
      width: 27%;
      height: auto;
    }
  }

  .chart-wrapper-info {
    width: 99%;
    @include flex-row(flex-start, flex-start);
    gap: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);  
    backdrop-filter: blur(8px);
    border-radius: 20px;
    margin: 10px;
  }

  .chart-wrapper_summary {
    width: 100%;
    @include flex-row(flex-start, center);
  }
}

@media screen and (max-width: 768px) {
  .dashboard-wrapper {
    .chart-wrapper {
      flex-direction: column;

      .total-worklog-component {
        width: 100%;
        padding: 10px;
      }

      .user-data {
        width: 100%;
        margin: 5px 0;
      }
    }

    .chart-wrapper-info {
      margin: 0;
    }
  }
}